# Cloudinary (for photo uploads)
CLOUDINARY_CLOUD_NAME=dj6quanot
CLOUDINARY_API_KEY=711755592357582
CLOUDINARY_API_SECRET=dbO9oaI5gEVnymsZPwa2pibkyC4

# NextAuth
NEXTAUTH_SECRET=fieldflow-pro-secret-key-2024-secure-random-string
NEXTAUTH_URL=http://localhost:3000

# Resend (for emails)
RESEND_API_KEY=re_99VBjhpk_4d7ksQQSQdskEogW8MK76ALb

# Database (Supabase PostgreSQL)
# Transaction pooler (for serverless)
DATABASE_URL="postgresql://postgres.gklaggowcdlbkvknwmeg:PASSWORD@aws-0-us-east-1.pooler.supabase.com:6543/postgres"
# Session pooler (for migrations)
DIRECT_DATABASE_URL="postgresql://postgres.gklaggowcdlbkvknwmeg:PASSWORD@aws-0-us-east-1.pooler.supabase.com:5432/postgres"
